.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
}

container-full-width{
     max-width: 100%;
    margin: 0 auto;
    /*padding: 0 2.0rem;*/
    position: relative;
    width: 100%; 
}

body{
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.back-color-dark{
    background:#383838;
}
/*********************************************************************************
FONTS
*********************************************************************************/
@font-face {
    font-family: 'GlacialIndifferenceRegular';
    src: url('fonts/GlacialIndifference-Regular.eot');
    src: url('fonts/GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GlacialIndifference-Regular.woff') format('woff'),
        url('fonts/GlacialIndifference-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('fonts/GlacialIndifference-Italic.eot');
    src: url('fonts/GlacialIndifference-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/GlacialIndifference-Italic.woff') format('woff'),
    url('fonts/GlacialIndifference-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GlacialIndifferenceBold';
    src: url('fonts/GlacialIndifference-Bold.eot');
    src: url('fonts/GlacialIndifference-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GlacialIndifference-Bold.woff') format('woff'),
        url('fonts/GlacialIndifference-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

p{
    line-height: 2.75rem;
    font-size: 1.5rem;
    /*font-size:1.2rem;*/
}

.margin5{
    margin-top:2rem;
}

/*********************************************************************************
Headings
*********************************************************************************/
.jumbotron .inner-wrap.vert-center {
    align-self: center;
    padding-top: 0;
}

h2 {
    font-family: 'GlacialIndifferenceBold', Arial, sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    /* text-align: center; */
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 3.5rem;
    letter-spacing: .025rem;
    margin-bottom: .5rem;
    /* margin-top: 3em; */
}


h3{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
     font-family: 'GlacialIndifferenceBold', Arial, sans-serif;
    font-size: 5.5rem;
    text-transform: uppercase;
    /* color: #fff; */
    text-align: center;
    margin-bottom: 0;
}
 
section.overlay{
        padding-top: 5%;
        padding-bottom: 5%;
}

.padding5{
    padding-top: 2%;
    padding-bottom: 10%;
    padding: 2% 2% 10% 2%;
}
.padding4{
   padding-top: 2%;
    padding-bottom: 10%;
    padding: 2% 2% 10% 4%;
}
 
.pad2{
    padding:2.5%;
}

/* =========================================================================
   Flexbox
   ========================================================================== */
.reverse{
    flex-direction:row-reverse;
}

.pad5{
    padding:0 5% 5% 5%;
}


/*********************************************************************************
JUMBOTRON
*********************************************************************************/

.cssvwunit .jumbotron{
 min-height: 100vh;
}
.jumbotron {
    /*background: url(../img/jerome.jpg) center / cover;
       background: url(../img/jerome2.jpg) center / cover;*/
    /* background: rgba(76, 166, 175, 0.92); */
    /* background: transparent; */
    background:#1DA664;
    min-height:300px;
    position: relative;
    display: flex;
}

.jumbotron h1{
       color: #fff;
    font-size: 4rem;
    margin-top: 2.0rem;
    font-weight: bold;
    }

    .jumbotron a{
        color:#fff;
    }

.jumbotron h3{
    color:#fff;
    font-size:3rem;
}

.logo img{
    width:20rem;
}
    
.mountain{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}
/*.jumbotron .over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,1);
    mix-blend-mode: hue;
    transition: all 2.75s ease-in-out !important;
    -moz-transition: all .65s ease-in-out;
    -webkit-transition: all .65s ease-in-out;
}*/

.jumbotron .over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    /* filter: grayscale(100%); */
    right: 0;
    /* mix-blend-mode: darken; */
    z-index: 1;
    background: rgba(0,0,0,.65);
    /* mix-blend-mode: hue; */
    transition: all 2.75s ease-in-out !important;
    -moz-transition: all .65s ease-in-out;
    -webkit-transition: all .65s ease-in-out;
}

.jumbotron .over.fade{
    /*background: 0,0,0,0;*/
}

.jumbotron .inner-wrap {
     text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.jumbotron .inner-wrap.vert-center {
    align-self: center;
    padding-top: 0;
}


